@model THYWebApp.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NonMemberCustomerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NonMemberCustomerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlyPacketsID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlyPacketsID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReservationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
