@model THYWebApp.Models.NonMemberCustomer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NonMemberCustomer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassengerFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerMiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassengerMiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassengerLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerTCKimlik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassengerTCKimlik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerPassportNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassengerPassportNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassengerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassengerPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerNationality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassengerNationality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerDateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassengerDateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerGender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PassengerGender)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NonMemberCustomerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
